@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&display=swap");

.plasmic_tokens {
  --token--Uaq8MFUM6Us: #d8edea;
  --plasmic-token-unnamed-style-token: var(--token--Uaq8MFUM6Us);
  --token-UEPRnjpcHPZV: #fbfbfb;
  --plasmic-token-white: var(--token-UEPRnjpcHPZV);
  --token-ZNUFncbSfsT5: #fe5737;
  --plasmic-token-orange: var(--token-ZNUFncbSfsT5);
  --token--7WmCvroTPFR: #222222;
  --plasmic-token-heading-h-2: var(--token--7WmCvroTPFR);
  --token-hKmm9qCzyn0Q: 1680px;
  --plasmic-token-container-mixin: var(--token-hKmm9qCzyn0Q);
  --token-6T6ED1ZuFelz: 0px;
  --plasmic-token-pading-container: var(--token-6T6ED1ZuFelz);
  --token-UiOCRCeN0-J0: #fcce16;
  --plasmic-token-yellow: var(--token-UiOCRCeN0-J0);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-HNfqdmE0sjSi_font-family: "Inter", sans-serif;
  --mixin-HNfqdmE0sjSi_font-size: 18px;
  --mixin-HNfqdmE0sjSi_font-weight: 300;
  --mixin-HNfqdmE0sjSi_font-style: normal;
  --mixin-HNfqdmE0sjSi_color: #222222;
  --mixin-HNfqdmE0sjSi_text-align: left;
  --mixin-HNfqdmE0sjSi_text-transform: none;
  --mixin-HNfqdmE0sjSi_line-height: 1.65;
  --mixin-HNfqdmE0sjSi_letter-spacing: normal;
  --mixin-HNfqdmE0sjSi_white-space: pre-wrap;
  --mixin-HNfqdmE0sjSi_user-select: text;
  --mixin-HNfqdmE0sjSi_text-decoration-line: none;
  --mixin-HNfqdmE0sjSi_text-overflow: clip;
  --mixin-rnc5i3FAjZvL_color: var(--token-UEPRnjpcHPZV);
  --mixin-rnc5i3FAjZvL_font-weight: 700;
  --mixin-rnc5i3FAjZvL_font-size: 72px;
  --mixin-rnc5i3FAjZvL_line-height: 1.2;
  --mixin-rnc5i3FAjZvL_margin-top: 0px;
  --mixin-rnc5i3FAjZvL_margin-right: 0px;
  --mixin-rnc5i3FAjZvL_margin-bottom: 0px;
  --mixin-rnc5i3FAjZvL_margin-left: 0px;
  --mixin-rnc5i3FAjZvL_font-family: "Inter", sans-serif;
  --mixin-rnc5i3FAjZvL_text-transform: uppercase;
  --mixin-rnc5i3FAjZvL_box-shadow: none;
  --mixin-rnc5i3FAjZvL_backdrop-filter: none;
  --mixin-rnc5i3FAjZvL_white-space: pre-wrap;
  --mixin-L9xdnrdXBrLe_color: var(--token--7WmCvroTPFR);
  --mixin-L9xdnrdXBrLe_font-weight: 700;
  --mixin-L9xdnrdXBrLe_font-size: 38px;
  --mixin-L9xdnrdXBrLe_line-height: 1.2;
  --mixin-L9xdnrdXBrLe_font-family: "Inter", sans-serif;
  --mixin-L9xdnrdXBrLe_margin-top: 0px;
  --mixin-L9xdnrdXBrLe_margin-right: 0px;
  --mixin-L9xdnrdXBrLe_margin-bottom: 0px;
  --mixin-L9xdnrdXBrLe_margin-left: 0px;
  --mixin-L9xdnrdXBrLe_text-transform: uppercase;
  --mixin-L9xdnrdXBrLe_letter-spacing: -0.005em;
  --mixin-L9xdnrdXBrLe_white-space: pre-wrap;
  --mixin-WbgXYv4JsMzL_color: var(--token-ZNUFncbSfsT5);
  --mixin-WbgXYv4JsMzL_font-family: "Poppins", sans-serif;
  --mixin-WbgXYv4JsMzL_font-weight: 300;
  --mixin-WbgXYv4JsMzL_font-size: 17px;
  --mixin-WbgXYv4JsMzL_line-height: 1.65;
  --mixin-WbgXYv4JsMzL_white-space: pre-wrap;
  --mixin-9MNMtp735cdF_color: #000000;
  --mixin-9MNMtp735cdF_font-weight: 500;
  --mixin-9MNMtp735cdF_font-size: 24px;
  --mixin-9MNMtp735cdF_line-height: 1.2;
  --mixin-9MNMtp735cdF_font-family: "Inter", sans-serif;
  --mixin-9MNMtp735cdF_margin-top: 0px;
  --mixin-9MNMtp735cdF_margin-right: 0px;
  --mixin-9MNMtp735cdF_margin-bottom: 0px;
  --mixin-9MNMtp735cdF_margin-left: 0px;
  --mixin-9MNMtp735cdF_text-transform: uppercase;
  --mixin-9MNMtp735cdF_white-space: pre-wrap;
  --mixin-XO2Axhk5fsdQ_font-family: "Inter", sans-serif;
  --mixin-XO2Axhk5fsdQ_color: #000000;
  --mixin-XO2Axhk5fsdQ_font-size: 24px;
  --mixin-XO2Axhk5fsdQ_font-weight: 600;
  --mixin-XO2Axhk5fsdQ_letter-spacing: -0.5px;
  --mixin-XO2Axhk5fsdQ_line-height: 1.3;
  --mixin-XO2Axhk5fsdQ_white-space: pre-wrap;
  --mixin-j_FrbFQrQPcu_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-j_FrbFQrQPcu_border-bottom-color: #dddddd;
  --mixin-j_FrbFQrQPcu_border-bottom-style: solid;
  --mixin-j_FrbFQrQPcu_border-bottom-width: 1px;
  --mixin-j_FrbFQrQPcu_border-left-color: #dddddd;
  --mixin-j_FrbFQrQPcu_border-left-style: solid;
  --mixin-j_FrbFQrQPcu_border-left-width: 1px;
  --mixin-j_FrbFQrQPcu_border-right-color: #dddddd;
  --mixin-j_FrbFQrQPcu_border-right-style: solid;
  --mixin-j_FrbFQrQPcu_border-right-width: 1px;
  --mixin-j_FrbFQrQPcu_border-top-color: #dddddd;
  --mixin-j_FrbFQrQPcu_border-top-style: solid;
  --mixin-j_FrbFQrQPcu_border-top-width: 1px;
  --mixin-j_FrbFQrQPcu_border-bottom-left-radius: 3px;
  --mixin-j_FrbFQrQPcu_border-bottom-right-radius: 3px;
  --mixin-j_FrbFQrQPcu_border-top-left-radius: 3px;
  --mixin-j_FrbFQrQPcu_border-top-right-radius: 3px;
  --mixin-j_FrbFQrQPcu_font-family: "Inconsolata";
  --mixin-j_FrbFQrQPcu_padding-bottom: 1px;
  --mixin-j_FrbFQrQPcu_padding-left: 4px;
  --mixin-j_FrbFQrQPcu_padding-right: 4px;
  --mixin-j_FrbFQrQPcu_padding-top: 1px;
  --mixin-j_FrbFQrQPcu_white-space: pre-wrap;
  --mixin-EBzP-mXZjSOZ_margin-top: 0px;
  --mixin-EBzP-mXZjSOZ_margin-right: 0px;
  --mixin-EBzP-mXZjSOZ_margin-bottom: 10px;
  --mixin-EBzP-mXZjSOZ_margin-left: 0px;
  --mixin-EBzP-mXZjSOZ_color: #ca7716;
  --mixin-EBzP-mXZjSOZ_font-family: "Playfair Display", serif;
  --mixin-EBzP-mXZjSOZ_font-size: 18px;
  --mixin-EBzP-mXZjSOZ_line-height: 1.5;
  --mixin-EBzP-mXZjSOZ_white-space: pre-wrap;
  --mixin-YplzPCcx1S-N_font-family: "Inter", sans-serif;
  --mixin-YplzPCcx1S-N_color: #000000;
  --mixin-YplzPCcx1S-N_font-size: 16px;
  --mixin-YplzPCcx1S-N_font-weight: 600;
  --mixin-YplzPCcx1S-N_line-height: 1.5;
  --mixin-YplzPCcx1S-N_white-space: pre-wrap;
  --mixin-xlgtyVSYkLJ4_border-left-color: #dddddd;
  --mixin-xlgtyVSYkLJ4_border-left-style: solid;
  --mixin-xlgtyVSYkLJ4_border-left-width: 3px;
  --mixin-xlgtyVSYkLJ4_color: #888888;
  --mixin-xlgtyVSYkLJ4_padding-left: 10px;
  --mixin-xlgtyVSYkLJ4_white-space: pre-wrap;
  --mixin-Zuoxz9KrNcTx_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Zuoxz9KrNcTx_border-bottom-color: #dddddd;
  --mixin-Zuoxz9KrNcTx_border-bottom-style: solid;
  --mixin-Zuoxz9KrNcTx_border-bottom-width: 1px;
  --mixin-Zuoxz9KrNcTx_border-left-color: #dddddd;
  --mixin-Zuoxz9KrNcTx_border-left-style: solid;
  --mixin-Zuoxz9KrNcTx_border-left-width: 1px;
  --mixin-Zuoxz9KrNcTx_border-right-color: #dddddd;
  --mixin-Zuoxz9KrNcTx_border-right-style: solid;
  --mixin-Zuoxz9KrNcTx_border-right-width: 1px;
  --mixin-Zuoxz9KrNcTx_border-top-color: #dddddd;
  --mixin-Zuoxz9KrNcTx_border-top-style: solid;
  --mixin-Zuoxz9KrNcTx_border-top-width: 1px;
  --mixin-Zuoxz9KrNcTx_border-bottom-left-radius: 3px;
  --mixin-Zuoxz9KrNcTx_border-bottom-right-radius: 3px;
  --mixin-Zuoxz9KrNcTx_border-top-left-radius: 3px;
  --mixin-Zuoxz9KrNcTx_border-top-right-radius: 3px;
  --mixin-Zuoxz9KrNcTx_font-family: "Inconsolata";
  --mixin-Zuoxz9KrNcTx_padding-bottom: 3px;
  --mixin-Zuoxz9KrNcTx_padding-left: 6px;
  --mixin-Zuoxz9KrNcTx_padding-right: 6px;
  --mixin-Zuoxz9KrNcTx_padding-top: 3px;
  --mixin-Zuoxz9KrNcTx_white-space: pre-wrap;
  --mixin-NH6mMRF0-okf_display: flex;
  --mixin-NH6mMRF0-okf_flex-direction: column;
  --mixin-NH6mMRF0-okf_align-items: stretch;
  --mixin-NH6mMRF0-okf_justify-content: flex-start;
  --mixin-NH6mMRF0-okf_list-style-position: outside;
  --mixin-NH6mMRF0-okf_padding-left: 40px;
  --mixin-NH6mMRF0-okf_position: relative;
  --mixin-NH6mMRF0-okf_list-style-type: decimal;
  --mixin-NH6mMRF0-okf_white-space: pre-wrap;
  --mixin-9NC9_kHSyD9B_display: flex;
  --mixin-9NC9_kHSyD9B_flex-direction: column;
  --mixin-9NC9_kHSyD9B_align-items: stretch;
  --mixin-9NC9_kHSyD9B_justify-content: flex-start;
  --mixin-9NC9_kHSyD9B_list-style-position: outside;
  --mixin-9NC9_kHSyD9B_padding-left: 40px;
  --mixin-9NC9_kHSyD9B_position: relative;
  --mixin-9NC9_kHSyD9B_list-style-type: disc;
  --mixin-9NC9_kHSyD9B_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 767px) {
  .plasmic_default_styles {
    --mixin-rnc5i3FAjZvL_font-size: 38px;
    --mixin-rnc5i3FAjZvL_white-space: pre-wrap;
    --mixin-L9xdnrdXBrLe_font-size: 28px;
    --mixin-L9xdnrdXBrLe_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-cI6dlxtkLkU0_white-space: pre-wrap;
  --plasmic-mixin-footer-menu-text_white-space: var(
    --mixin-cI6dlxtkLkU0_white-space
  );
  --mixin-a5VXeKa2YpbS_white-space: pre-wrap;
  --plasmic-mixin-padding-section_white-space: var(
    --mixin-a5VXeKa2YpbS_white-space
  );
  --mixin-FfdiOt0nJkNq_white-space: pre-wrap;
  --plasmic-mixin-section-title_white-space: var(
    --mixin-FfdiOt0nJkNq_white-space
  );
  --mixin-fZTqTdtJCX2u_white-space: pre-wrap;
  --plasmic-mixin-white-title_white-space: var(
    --mixin-fZTqTdtJCX2u_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-HNfqdmE0sjSi_font-family);
  font-size: var(--mixin-HNfqdmE0sjSi_font-size);
  font-weight: var(--mixin-HNfqdmE0sjSi_font-weight);
  font-style: var(--mixin-HNfqdmE0sjSi_font-style);
  color: var(--mixin-HNfqdmE0sjSi_color);
  text-align: var(--mixin-HNfqdmE0sjSi_text-align);
  text-transform: var(--mixin-HNfqdmE0sjSi_text-transform);
  line-height: var(--mixin-HNfqdmE0sjSi_line-height);
  letter-spacing: var(--mixin-HNfqdmE0sjSi_letter-spacing);
  white-space: var(--mixin-HNfqdmE0sjSi_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-rnc5i3FAjZvL_color);
  font-weight: var(--mixin-rnc5i3FAjZvL_font-weight);
  font-size: var(--mixin-rnc5i3FAjZvL_font-size);
  line-height: var(--mixin-rnc5i3FAjZvL_line-height);
  font-family: var(--mixin-rnc5i3FAjZvL_font-family);
  text-transform: var(--mixin-rnc5i3FAjZvL_text-transform);
  box-shadow: var(--mixin-rnc5i3FAjZvL_box-shadow);
  backdrop-filter: var(--mixin-rnc5i3FAjZvL_backdrop-filter);
  margin: var(--mixin-rnc5i3FAjZvL_margin-top)
    var(--mixin-rnc5i3FAjZvL_margin-right)
    var(--mixin-rnc5i3FAjZvL_margin-bottom)
    var(--mixin-rnc5i3FAjZvL_margin-left);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-L9xdnrdXBrLe_color);
  font-weight: var(--mixin-L9xdnrdXBrLe_font-weight);
  font-size: var(--mixin-L9xdnrdXBrLe_font-size);
  line-height: var(--mixin-L9xdnrdXBrLe_line-height);
  font-family: var(--mixin-L9xdnrdXBrLe_font-family);
  text-transform: var(--mixin-L9xdnrdXBrLe_text-transform);
  letter-spacing: var(--mixin-L9xdnrdXBrLe_letter-spacing);
  margin: var(--mixin-L9xdnrdXBrLe_margin-top)
    var(--mixin-L9xdnrdXBrLe_margin-right)
    var(--mixin-L9xdnrdXBrLe_margin-bottom)
    var(--mixin-L9xdnrdXBrLe_margin-left);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-WbgXYv4JsMzL_color);
  font-family: var(--mixin-WbgXYv4JsMzL_font-family);
  font-weight: var(--mixin-WbgXYv4JsMzL_font-weight);
  font-size: var(--mixin-WbgXYv4JsMzL_font-size);
  line-height: var(--mixin-WbgXYv4JsMzL_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-9MNMtp735cdF_color);
  font-weight: var(--mixin-9MNMtp735cdF_font-weight);
  font-size: var(--mixin-9MNMtp735cdF_font-size);
  line-height: var(--mixin-9MNMtp735cdF_line-height);
  font-family: var(--mixin-9MNMtp735cdF_font-family);
  text-transform: var(--mixin-9MNMtp735cdF_text-transform);
  margin: var(--mixin-9MNMtp735cdF_margin-top)
    var(--mixin-9MNMtp735cdF_margin-right)
    var(--mixin-9MNMtp735cdF_margin-bottom)
    var(--mixin-9MNMtp735cdF_margin-left);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-XO2Axhk5fsdQ_font-family);
  color: var(--mixin-XO2Axhk5fsdQ_color);
  font-size: var(--mixin-XO2Axhk5fsdQ_font-size);
  font-weight: var(--mixin-XO2Axhk5fsdQ_font-weight);
  letter-spacing: var(--mixin-XO2Axhk5fsdQ_letter-spacing);
  line-height: var(--mixin-XO2Axhk5fsdQ_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-j_FrbFQrQPcu_font-family);
  border-radius: var(--mixin-j_FrbFQrQPcu_border-top-left-radius)
    var(--mixin-j_FrbFQrQPcu_border-top-right-radius)
    var(--mixin-j_FrbFQrQPcu_border-bottom-right-radius)
    var(--mixin-j_FrbFQrQPcu_border-bottom-left-radius);
  padding: var(--mixin-j_FrbFQrQPcu_padding-top)
    var(--mixin-j_FrbFQrQPcu_padding-right)
    var(--mixin-j_FrbFQrQPcu_padding-bottom)
    var(--mixin-j_FrbFQrQPcu_padding-left);
  border-top: var(--mixin-j_FrbFQrQPcu_border-top-width)
    var(--mixin-j_FrbFQrQPcu_border-top-style)
    var(--mixin-j_FrbFQrQPcu_border-top-color);
  border-right: var(--mixin-j_FrbFQrQPcu_border-right-width)
    var(--mixin-j_FrbFQrQPcu_border-right-style)
    var(--mixin-j_FrbFQrQPcu_border-right-color);
  border-bottom: var(--mixin-j_FrbFQrQPcu_border-bottom-width)
    var(--mixin-j_FrbFQrQPcu_border-bottom-style)
    var(--mixin-j_FrbFQrQPcu_border-bottom-color);
  border-left: var(--mixin-j_FrbFQrQPcu_border-left-width)
    var(--mixin-j_FrbFQrQPcu_border-left-style)
    var(--mixin-j_FrbFQrQPcu_border-left-color);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-EBzP-mXZjSOZ_color);
  font-family: var(--mixin-EBzP-mXZjSOZ_font-family);
  font-size: var(--mixin-EBzP-mXZjSOZ_font-size);
  line-height: var(--mixin-EBzP-mXZjSOZ_line-height);
  margin: var(--mixin-EBzP-mXZjSOZ_margin-top)
    var(--mixin-EBzP-mXZjSOZ_margin-right)
    var(--mixin-EBzP-mXZjSOZ_margin-bottom)
    var(--mixin-EBzP-mXZjSOZ_margin-left);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-YplzPCcx1S-N_font-family);
  color: var(--mixin-YplzPCcx1S-N_color);
  font-size: var(--mixin-YplzPCcx1S-N_font-size);
  font-weight: var(--mixin-YplzPCcx1S-N_font-weight);
  line-height: var(--mixin-YplzPCcx1S-N_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-xlgtyVSYkLJ4_color);
  padding-left: var(--mixin-xlgtyVSYkLJ4_padding-left);
  border-left: var(--mixin-xlgtyVSYkLJ4_border-left-width)
    var(--mixin-xlgtyVSYkLJ4_border-left-style)
    var(--mixin-xlgtyVSYkLJ4_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Zuoxz9KrNcTx_font-family);
  border-radius: var(--mixin-Zuoxz9KrNcTx_border-top-left-radius)
    var(--mixin-Zuoxz9KrNcTx_border-top-right-radius)
    var(--mixin-Zuoxz9KrNcTx_border-bottom-right-radius)
    var(--mixin-Zuoxz9KrNcTx_border-bottom-left-radius);
  padding: var(--mixin-Zuoxz9KrNcTx_padding-top)
    var(--mixin-Zuoxz9KrNcTx_padding-right)
    var(--mixin-Zuoxz9KrNcTx_padding-bottom)
    var(--mixin-Zuoxz9KrNcTx_padding-left);
  border-top: var(--mixin-Zuoxz9KrNcTx_border-top-width)
    var(--mixin-Zuoxz9KrNcTx_border-top-style)
    var(--mixin-Zuoxz9KrNcTx_border-top-color);
  border-right: var(--mixin-Zuoxz9KrNcTx_border-right-width)
    var(--mixin-Zuoxz9KrNcTx_border-right-style)
    var(--mixin-Zuoxz9KrNcTx_border-right-color);
  border-bottom: var(--mixin-Zuoxz9KrNcTx_border-bottom-width)
    var(--mixin-Zuoxz9KrNcTx_border-bottom-style)
    var(--mixin-Zuoxz9KrNcTx_border-bottom-color);
  border-left: var(--mixin-Zuoxz9KrNcTx_border-left-width)
    var(--mixin-Zuoxz9KrNcTx_border-left-style)
    var(--mixin-Zuoxz9KrNcTx_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-NH6mMRF0-okf_display);
  flex-direction: var(--mixin-NH6mMRF0-okf_flex-direction);
  align-items: var(--mixin-NH6mMRF0-okf_align-items);
  justify-content: var(--mixin-NH6mMRF0-okf_justify-content);
  list-style-position: var(--mixin-NH6mMRF0-okf_list-style-position);
  padding-left: var(--mixin-NH6mMRF0-okf_padding-left);
  position: var(--mixin-NH6mMRF0-okf_position);
  list-style-type: var(--mixin-NH6mMRF0-okf_list-style-type);
  flex-column-gap: var(--mixin-NH6mMRF0-okf_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-9NC9_kHSyD9B_display);
  flex-direction: var(--mixin-9NC9_kHSyD9B_flex-direction);
  align-items: var(--mixin-9NC9_kHSyD9B_align-items);
  justify-content: var(--mixin-9NC9_kHSyD9B_justify-content);
  list-style-position: var(--mixin-9NC9_kHSyD9B_list-style-position);
  padding-left: var(--mixin-9NC9_kHSyD9B_padding-left);
  position: var(--mixin-9NC9_kHSyD9B_position);
  list-style-type: var(--mixin-9NC9_kHSyD9B_list-style-type);
  flex-column-gap: var(--mixin-9NC9_kHSyD9B_flex-column-gap);
}
